<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="checker.css" />
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  <title>Passwordchecker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
